In [1]:
import pandas as pd

In [2]:
kez=pd.read_table('C:\\Users\\Lenovo\\Desktop\\temp.csv')

In [3]:
kez.head()

      Name,Age,Cont_no,Email_ID
0  Keziah,18,38936743262,so@abc
1  Arati,17,9876543210,ratu@xyz
2  Vedika,20,4567890312,ned@wxy
3      Saroj,21,12234567,sa@uvw
4   Devin,19,9876543210,dev@xyz

In [4]:
condition=True
while(condition):
        student_info=input("Enter student information in the following format (Name Age Cont_no Email-ID):")
        print("Entered information: " + student_info)
        
        student_info_list=student_info.split(' ')
        print("Entered split up information is: "+ str(student_info_list))
        
        condition_check=input("Enter (yes/no) if you  want to enter information for another student :")
        if condition_check=="yes":
            condition=True
        elif condition_check=="no":
            condition=False

Enter student information in the following format (Name Age Cont_no Email-ID):Keziah,18,38936743262,so@abc
Entered information: Keziah,18,38936743262,so@abc
Entered split up information is: ['Keziah,18,38936743262,so@abc']
Enter (yes/no) if you  want to enter information for another student :yes
Enter student information in the following format (Name Age Cont_no Email-ID):Arati,17,9876543210,ratu@xyz
Entered information: Arati,17,9876543210,ratu@xyz
Entered split up information is: ['Arati,17,9876543210,ratu@xyz']
Enter (yes/no) if you  want to enter information for another student :yes
Enter student information in the following format (Name Age Cont_no Email-ID):Vedika,20,4567890312,ned@wxy
Entered information: Vedika,20,4567890312,ned@wxy
Entered split up information is: ['Vedika,20,4567890312,ned@wxy']
Enter (yes/no) if you  want to enter information for another student :yes
Enter student information in the following format (Name Age Cont_no Email-ID):Saroj,21,12234567,sa@uvw
Entered information: Saroj,21,12234567,sa@uvw
Entered split up information is: ['Saroj,21,12234567,sa@uvw']
Enter (yes/no) if you  want to enter information for another student :yes
Enter student information in the following format (Name Age Cont_no Email-ID):Devin,19,9876543210,dev@xyz
Entered information: Devin,19,9876543210,dev@xyz
Entered split up information is: ['Devin,19,9876543210,dev@xyz']
Enter (yes/no) if you  want to enter information for another student :no

In [15]:
kez=pd.read_csv('C:\\Users\\Lenovo\\Desktop\\temp.csv')
print(kez)

     Name  Age      Cont_no  Email_ID
0  Keziah   18  38936743262    so@abc
1   Arati   17   9876543210  ratu@xyz
2  Vedika   20   4567890312   ned@wxy
3   Saroj   21     12234567    sa@uvw
4   Devin   19   9876543210   dev@xyz

In [16]:
kez.head()

     Name  Age      Cont_no  Email_ID
0  Keziah   18  38936743262    so@abc
1   Arati   17   9876543210  ratu@xyz
2  Vedika   20   4567890312   ned@wxy
3   Saroj   21     12234567    sa@uvw
4   Devin   19   9876543210   dev@xyz